<div class="row mt-4 text-muted fundo ml-1">
  <div class="row text-center">
    <div class="col-12 text-muted">
      <h1 class="negrito">Descrição do site</h1>
      <p>
        Site promovido para ajudar nos primeiros socorros de uma pessoa que possa ter sofrido algum acidente, com o
        médico
        ou socorristas possuindo um leitor de tag NFC e a pessoa que se acidentou tiver na carteira por exemplo uma
        tag NFC de primeiros socorros, ao ser lida dará ao médico e socorristas informações necessárias como tipo
        sanguíneo, altura, peso, alergias.
      </p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-12 col-md-6 col-12">
      <h4 class="negrito">O que é NFC ?</h4>
      <p>O NFC (NEAR FIELD COMMUNICATION) é uma tecnologia que permite a transferência de dados a partir da
        aproximação de
        um dispositivo a uma Tag. Foi desenvolvido pelas empresas Sony e Philips em 2002 e estimulado a partir
        de
        2004
        pelo NFC Forum, conduzido por empresas como Samsung, Microsoft, Nokia, Google, Intel, Visa (NFC FORUM,
        2011).
      </p><br>
    </div>
    <div class="col-sm-12 col-md-6 col-12">
      <h4 class="negrito">Explicando o NFC</h4>
      <p>Na tecnologia NFC, a comunicação acontece de maneira simples e intuitiva. É necessário somente aproximar
        os
        dispositivos com NFC. Desse modo, os usuários realizar atividades, como transações financeiras, acessar
        conteúdos digitais ou conectar diferentes aparelhos. Os chamados chips podem estar presentes em
        smartphones
        e
        eletrônicos, ou em etiquetas, Tags. Dessa forma, é possível estabelecer a comunicação em diferentes
        objetos
        físicos, como em crachás, cartões e chaveiros.</p>
    </div>
  </div>
</div>
