<div class="container-fluid">
  <div class="row">
    <div class="text-center m-0 col-12">
      <app-card-register></app-card-register>
      <hr>
    </div>
  </div>
</div>
<div class="container-fluid">
  <ol class="list-unstyled text-center">
    <li class="row">
      <div class="col-12 col-sm-6 col-md mb-5 flex" *ngFor="let card of cards$ | async">
        <app-card-informations [title]="card.title" [description]="card.description">
          <div class="card-footer">
            <button mat-stroked-button color="warn" (click)="delete(card.key)">X</button>
            <button mat-stroked-button color="primary" class="ml-2" (click)="edit(card, card.key)">Edit</button>
          </div>
        </app-card-informations>
      </div>
    </li>
  </ol>
</div>
