@media(max-width: 480px) {
  .center {
    margin: auto;
  }
}
@media(min-width: 480px) {
  .center {
    width: 18rem;
  }
}

p {
  height: 45px;
}
h4 {
  height: 30px;
}

@keyframes fadeIn {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  to {
    transform: scale(1);
  }
}

.fadeIn {
  animation: fadeIn 0.9s;
}
