/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  transition: .888s;
}

@media (max-width: 589px) {
  @media (min-width: 481px) {
    .flex {
      display: flex;
      justify-content: center;
    }
  }
}

html {
  scroll-behavior: smooth;
}
